@using Microsoft.AspNet.Identity
<div class="sidebar-profile">
    <a href="javascript:void(0);" id="profile-menu-link">
        <div class="sidebar-profile-image">
            <img src="~/assets/images/avatar1.png" class="img-circle img-responsive" alt="">
        </div>
        <div class="sidebar-profile-details">
            <span>@User.Identity.GetUserName();<br><small>Developer</small></span>
             
        </div>
    </a>
</div>